@import url(//fonts.googleapis.com/earlyaccess/notosansjapanese.css);

html {
    body {
        font-family: 'Noto Sans Japanese', sans-serif; 
        // font-family: "a-otf-midashi-go-mb31-pr6n",sans-serif;
        width: 100%;
        height: 100vh;
    }
}