// front page desktop

@media only screen and (min-width: 601px) {
// ---- Desktop ------
    // header
    .front-page {
        &.body {    
            height: auto;
            width: calc(100% - 10%);
            margin: 0 auto;
            padding-bottom: 100px; // height of the footer
            .heading {
                width: 50%;
                @include interpolate(margin-top, $min-width, $max-width, 20px, 30px);
                display: inline-block;
                box-sizing: border-box;
                p {
                    @include interpolate(font-size, $min-width, $max-width, 60px, 90px);
                    font-family: $heading;
                }
            }

            .author-info {
                height: auto;
                width: 50%;
                @include interpolate(margin-top, $min-width, $max-width, 50px, 70px);
                display: inline-block;
                box-sizing: border-box;
                font-size: 0;
                letter-spacing: 0;
                p {
                    @include interpolate(padding-bottom, $min-width, $max-width, 10px, 16px);
                    @include interpolate(font-size, $min-width, $max-width, 15px, 18px);
                    line-height: 1.5em;
                }
                span {
                    @include interpolate(font-size, $min-width, $max-width, 28px, 40px);
                    font-family: 'Times New Roman', Times, serif;
                    font-weight: 400;
                }
            }

            .author-logo {
                width: 49%;
                display: inline-block;
                vertical-align: top;
                box-sizing: border-box;
                font-size: 0;
                letter-spacing: 0;
                .svg-container {
                    height: 100%;
                    @include interpolate(width, $min-width, $max-width, 250px, 350px);
                    margin: 0 auto;
                    img {
                        height: auto;
                        width: 100%;
                    }
                }

            }
            .project-grid {

            } // </ project-grid>

        }

    } // end of front-page 
}
// desktop