html {
    width: 100%;
    height: auto;
    body {
        width: 100%;
        height: auto;
        background: rgb(178,230,16);
        background: linear-gradient(180deg, rgba(178,230,16,1) 0%, rgba(10,124,10,0.8) 100%); 
        color: rgb(250,250,250);
    }
}

@import './front-page/desktop';
@import './front-page/mobile';