@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://rsms.me/inter/inter-ui.css');
@import url('https://fonts.googleapis.com/css?family=Muli:400,600');

$content: 'Inter UI', 'Roboto', sans-serif;
$heading: 'Muli', sans-serif;




html {
    body {
        font-family: $content;
    }
}