// content

.main__content {
    &.child {
        .main__contentContainer {
            width: $pcSize;
            margin: 0 auto;
            .breadcrumbs {
                margin-right: 25px;
                padding: 33px 0 29px;
                font-size: 18px;
                line-height: 2.1;
                ul {
                    li {
                        margin-left: 12px;
                        display: inline;
                        p {
                            display: inline;
                        }
                    }
                }
            }
            .kv__choice {
                margin-bottom: 70px;
                // .choice__desc {
                //     margin-right: 25px;
                //     padding: 33px 0 29px;
                //     font-size: 18px;
                //     line-height: 2.1;
                // }
                p {
                    width: 530px;
                    padding: 25px 0 25px;
                    margin-right: 20px;
                    float: left;
                    background-color: #4c8dcb;
                    font-size: 28px;
                    line-height: 1.5;
                    color: white;
                    text-align: center;
                    a {
                        color: inherit;
                    }
                    &:after {
                        content: '';
                        background: url('./../images/common/arrow_right_white.png') no-repeat 0 13px;
                        background-size: 16px auto;
                        width: 40px;
                        height: 47px;
                        vertical-align: middle;
                        display: inline-block;
                        float: right;
                        margin-top: -3px;
                        margin-left: -24%; // pushes text forward
                        margin-right: 24%; // pushes text back to cancel out in the middle
                    }
                }
                // target sibling element
                p + p {
                    margin: 0 0 0 20px;
                    &:after {
                        margin-left: -22%;
                        margin-right: 22%;
                    }
                }
            } // .kv__choice

            .content__faq {
                width: 100%;
                .kv__banner {
                    width: 100%;
                    // margin-top: 71px;
                    margin: 72px 0 7px 0;
                    display: inline-block;
                    background-color: #00437c;
                    h3 {
                        padding: 10px 0 10px 17px;
                        display: block;
                        color: white;
                        font-size: 24px;
                        line-height: 1.5;
                    }
                } //.kv__banner 

                .faq__section {
                    width: 100%;
                    div {
                        // margin-bottom: 55px;
                        font-size: 0;
                        div {
                            width: 60px;
                            margin: 20px 0 0 10px;
                            display: inline-block;  
                            img {
                                width: 60px;
                                height: auto;
                            }
                        }
                        p {
                            width: calc(100% - 108px);
                            margin: 25px 0 20px 0;
                            padding-left: 35px;
                            display: inline-block;
                            vertical-align: top;
                            font-size: 18px;
                            line-height: 2;
                        }
                    }

                    div + div {
                        margin-bottom: 45px;
                        background-color: #fdeeed;
                    }
                } // .faq__section
            }

        }
    }
} // @media


@media only screen and (max-width: $mobileSize) {
.main__content {
    &.child {
        width: 100%;
        .main__contentContainer {
            width: 100%;
            .kv__choice {
                margin-bottom: 0;
                .choice__desc {
                    margin-left: 25px;
                    font-size: 16px;
                }
                p {
                    width: calc(100% - 24px);
                    margin: 0 12px 25px;
                    float: none;
                    display: block;
                    font-size: 24px;
                    &:after {
                        background: url("./../images/common/arrow_right_white.png") no-repeat 0 11px;
                        background-size: 14px auto;
                        margin-left: -13%;
                        margin-right: 3%;
                    }
                }
                p + p {
                    margin: 0 12px 25px;
                    &:after {
                        margin-left: -13%;
                        margin-right: 3%;
                    }
                }
            } // .kv__choice

            .content__faq {
                .kv__banner {
                    h3 {
                    }
                } //.kv__banner 
                .faq__section {
                    margin-top: 40px;
                    div {
                        margin-bottom: 40px;
                        div {
                            margin: 3px 0 0 12px;
                            img {
                                height: 45px;
                                width: auto;
                            }
                        }
                        p {
                            width: calc(100% - 97px);
                            margin-top: 0;
                            padding: 0 0 0 0;
                            font-size: 14px;
                        }
                    }

                    div + div {    
                        padding: 40px 0;

                    }
                } // .faq__section
            }

        }
    }
}

.button__hook {
    width: 30px;
    height: 30px;
}

}